

{% extends "D3_network_base.html" %}

  {% block D3_infos %}
  
      <!-- legend + filter column -->
      <div  class="col-sm-3"
            >
        
        <br>
        
        <!-- collapsible all filters column -->
        <div  class="collapse in "
              id="collapsibleFilters"
              style=" background-color: rgba(0, 0, 0, 0.4);
                    border-radius: 15px;
                    padding: 5px">
            
            
            
          <!-- LEGEND -->
          <!-- collapser legend only -->
          <a  role="button"
              id="collapserLegend"
              data-toggle="collapse"
              data-target="#collapsibleLegend"
              aria-expanded="true"
              aria-controls="collapsibleLegend">
            
            <h4 data-toggle="tooltip"
                data-placement="top"
                title="show/hide legend"
                >
              LEGEND <span class="caret" ></span>
            </h4>
            
          </a>
        
          
          <!-- collapsible legend only -->
          <div  class="list-group collapse in"
                id="collapsibleLegend"
                >
            
            <div  id="legend"
                  class="legend"
                  >
              <!-- here comes the svg -->
            </div>
          
          
          </div> <!-- end collapsible legend only -->
          
          
          
          <!-- RADIAL LAYOUTS -->
          
          <!-- collapser filters only -->
          <a  role="button"
              id="collapserRadial"
              data-toggle="collapse"
              data-target="#collapsibleRadial"
              aria-expanded="true"
              aria-controls="collapsibleRadial">
            
            <h4 data-toggle="tooltip"
                data-placement="top"
                title="show/hide radial layouts"
                >
              RADIAL FIXING <span class="caret" ></span>
            </h4>
            
          </a>
          
          <!-- collapsible radial only -->
          <div  class="collapse in"
                id="collapsibleRadial"
                style="; margin-top: 20px"
                >
            
            <!-- RADIAL LAYOUT - TAGS button -->
            <div class="list-group" id="radial_list">  
                
                <!-- radial references -->
                <button type="button" 
                    id="radial_refs"
                    name = "reference"
                    class="btn btn-default btn-sm radialFilter btn-filter small"
                    onclick="moveItToRadial(this.name)"
                    > 	
                    references
                </button>
                
                 <!-- radial groups -->
                <button type="button"  
                    id="radial_groups" 
                    name = "group"
                    class="btn btn-default btn-sm radialFilter btn-filter small"
                    onclick="moveItToRadial(this.name)"
                    > 	
                    groups
                </button>
                
                <!-- radial tags -->
                <button type="button" 
                    id="radial_tags"
                    name = "tag"
                    class="btn btn-default btn-sm radialFilter btn-filter small"
                    onclick="moveItToRadial(this.name)"
                    > 	
                    tags 
                </button>
                
                
                <!-- RELEASE all nodes -->
                <button type="button"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="release all fixed nodes"
                        id="releaseAllNodes"
                        class="btn btn-default btn-sm radialFilter btn-filter"
                        onclick="releaseAllNodes()"
                    > 	
                    <span class="glyphicon glyphicon-asterisk"></span>
                </button>
                
                <!--<br><br>-->
                
                <a  role="button"
                    id="collapserRadialTags"
                    data-toggle="collapse"
                    data-target="#collapsibleRadialTags"
                    aria-expanded="true"
                    aria-controls="collapsibleRadialTags">
                  
                  <h5 data-toggle="tooltip"
                      data-placement="top"
                      style="color:white"
                      title="show/hide radial layouts"
                      class="small"
                      >
                    <em>more radial fixing </em><span class="caret" ></span>
                  </h5>
                  
                </a>
                
                <!-- collapsible radial only -->
                <div  class="collapse in"
                      id="collapsibleRadialTags"
                      style="; margin-top: 20px"
                      >
                
                  <!-- RADIAL LAYOUT - TAGS button -->
                  <div class="list-group" id="radial_list_tags">  
                  
                  </div>
                </div> 
                
                 
            </div>
            
          </div>
          
          
          <!-- FILTERS BREAKING EDGES -->
          
          <!-- collapser filters only -->
          <a  role="button"
              id="collapserFilt"
              data-toggle="collapse"
              data-target="#collapsibleFilt"
              aria-expanded="true"
              aria-controls="collapsibleFilt">
            
            <h4 data-toggle="tooltip"
                data-placement="top"
                title="show/hide filters"
                >
              FILTERS <span class="caret" ></span>
            </h4>
            
          </a>
          
          <!-- collapsible filters only -->
          <div  class="collapse in"
                id="collapsibleFilt"
                style="; margin-top: 20px"
                >
            
            
            
            <!-- FILTERS BREAK LINKS -->
            <div class="list-group" id="break_list">  
              
              <h5 class="small" style="color: white">
                <em>break links</em>
              </h5>
                
                <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                        class="btn btn-default btn-sm breakFilter btn-filter"
                        id="ref-tag"
                        onclick="Update_Node(this.id)">
                  ref-tag
                </button>
                <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                        class="btn btn-default btn-sm breakFilter btn-filter"
                        id="ref-group"
                        onclick="Update_Node(this.id)">
                  ref-group
                </button>              
                <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                        class="btn btn-default btn-sm breakFilter btn-filter"
                        id="ref-ref"
                        onclick="Update_Node(this.id)">
                  ref-ref
                </button>              
            </div>
            
            
            
            <!-- FILTERS SHOW / HIDE NODES -->
            <div class="list-group" id="hide_list">
              <h5 class="small" style="color: white"
                  >
                <em>show / hide categories </em>
              </h5>
              
              
              <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                      class="btn btn-default btn-sm hideFilter btn-filter small"
                      id="reference"
                      onclick="hideNodes(this.id)">
                references
              </button>
              
              <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                      class="btn btn-default btn-sm hideFilter btn-filter small"
                      id="group"
                      onclick="hideNodes(this.id)">
                groups
              </button>
              
              <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                      class="btn btn-default btn-sm hideFilter btn-filter small"
                      id="tag"
                      onclick="hideNodes(this.id)">
                 tags
               </button>
              
            </div>
            
            <div class="list-group" id="hide_list_tags">
              <h5 class="small" style="color: white">
                <em>show / hide {{ glob.ns.group }}(s) </em>
              </h5>
              
              {% for gr in groups %}
              
                <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                         class="btn btn-default btn-xs hideFilter btn-filter"
                         id="{{ gr }}"
                         onclick="hideNodes(this.id)">
                   {{ gr }}
                 </button>
              
              {% endfor %}
              
            </div>
              
            
            {% if selection == "1camp" %}
            
              <div class="list-group">
                <h5 class="small" style="color: white">
                  <em>show or hide super-{{ glob.ns.tags }}(s) </em>
                </h5>
                
                {% for stag in supertags %}
                <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                         class="btn btn-default btn-xs hideFilter btn-filter"
                         id={{ stag }}
                         onclick="hideNodes(this.id)">
                   {{ stag }}
                 </button>
                {% endfor %}
                
              </div>
            {% endif %}
          
          </div> <!--end collapse filters only -->
  
        </div> <!--end collapse column-->
        
      </div> <!--end column-->

   
   
   
    <!-- NODE INFOS on different column -->  
    <div  class="col-sm-3 col-sm-offset-6"
          id = "collapserInfosCol" 
          data-toggle=""
          data-target="#collapsibleInfosCol"
          aria-expanded="false"
          aria-controls="collapsibleInfosCol"
         >
      
      
        <div  class="collapse in list-group"
              id="collapsibleInfosCol" 
              >
          
          <br>
            
          <!-- collapser infos -->
          <a  role="button"
              id="collapserInfos"
              data-toggle="collapse"
              data-target="#collapsibleInfos"
              aria-expanded="true"
              aria-controls="collapsibleInfos">
            
            <h4 class="text-right"
                data-toggle="tooltip"
                data-placement="top"
                title="show/hide node infos"
            >
              <span class="caret"></span> SELECTED NODE 
            </h4>
            
          </a>
           
          <br>
            
          <!-- collapsible infos-->
          <div  class="collapse"
                id="collapsibleInfos"
                >
            
                <!--data-toggle="tooltip"
                data-placement="left"
                title="show/hide abstract"-->
            
            <p  class="infoN list-group-item text-center"
                role="button"
                id="collapserAbstract"
                data-toggle="collapse"
                data-target="#nAbstract"
                aria-expanded="true"
                aria-controls="nAbstract"
                >

                <a class="nohref lead" id="nLabel"></a>
                <br><span class="caret" ></span> abstract <span class="caret" ></span>
            </p>
            
            <p  class="infoN list-group-item collapse" >
              <a class="nohref collapse small" id="nAbstract"></a>
            </p>
              
            <p class="infoN list-group-item small">
              
              authors &nbsp;
              <span class="glyphicon glyphicon-menu-right"></span> <a class="nohref" id="nAuthors"></a><br>
              category
              <span class="glyphicon glyphicon-menu-right"></span> <a class="nohref" id="nCategory"></a><br>
              group  &nbsp;&nbsp;&nbsp;&nbsp;
              <span class="glyphicon glyphicon-menu-right"></span> <a class="nohref" id="nGroup"></a><br>
              type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="glyphicon glyphicon-menu-right"></span> <a class="nohref" id="nType"></a>
            
            </p>
            
            <p class="infoN list-group-item small">tags &nbsp;&nbsp;
              <span class="glyphicon glyphicon-menu-right"></span> <a class="nohref" id="nTags"></a>
            </p> <!--still not displaying tags correctly-->
            
            <p class="infoN list-group-item small"></p>
            <p class="infoN list-group-item small">source
              <span class="glyphicon glyphicon-menu-right"></span> <a id="nUrl"></a>
            </p>
            
          </div>
      
      </div>
 
    </div> <!-- end column node infos -->
    
    
    </div>


  </div> <!-- ./end contents whole row  -->
  
    <!-- call graph / JS part --> 
    {% block D3_js %}{% endblock %}


  {% endblock %}