

{% extends "D3_network_base.html" %}

  {% block D3_infos %}
  
      <!-- search buttons -->
      <div class="col-sm-2" >
        
        <br></br>
        
        <!-- button collapser --> 
        <div role="button"
            id = "collapserFilters" 
            data-toggle="collapse"
            data-target="#collapsibleFilters"
            aria-expanded="false"
            aria-controls="collapsibleFilters"
            >
          
          <h2 class="text-center" style="color: white"
            data-toggle="tooltip"
            data-placement="top"
            title="current dataset - show/hide filter options"
            >
            <span class="label label-warning">
              {{ dataSet_name }} <span class="caret"></span>
            </span>
          </h2>
          
        </div>
  
        <br></br><br>

        <!-- collapsible filter -->
        <div class="collapse in " id="collapsibleFilters" >
          
          <input  id="search"
                  type="text"
                  
                  data-toggle="tooltip"
                  data-placement="top"
                  title="search a node, select it from the list and press ENTER"
                  
                  class="form-control"
                  placeholder="search a node and press ENTER"
                  onKeyPress="handle(event)">
                
          <!--<span class="input-group-btn">-->
          <!--  <button class="btn btn-default"-->
          <!--          type="button"-->
          <!--          onclick="searchNode()"-->
          <!--          data-toggle="tooltip"-->
          <!--          data-placement="right"-->
          <!--          title="search a node in the dataset"-->
          <!--          >-->
          <!--  Go!-->
          <!--  </button>-->
          <!--</span>-->
        <!--</div><!-- /input-group -->-->
        
          <div class="list-group">
            <h4>LEGEND</h4>
            <div id="legend" class="legend">
              <!-- here comes the svg -->
            </div>
          </div>
          
          <hr></hr>
        
          <!-- FILTERS BREAKING EDGES -->
          <div class="list-group">
            
            <h4>FILTERS</h4>
            
            <h5 style="color: white">break links</h5>

              <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                      class="btn btn-default btn-sm breakFilter"
                      id="ref-tag"
                      onclick="Update_Node(this.id)">
                ref-tag
              </button>
              <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                      class="btn btn-default btn-sm breakFilter"
                      id="ref-group"
                      onclick="Update_Node(this.id)">
                ref-group
              </button>              
              <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                      class="btn btn-default btn-sm breakFilter"
                      id="ref-ref"
                      onclick="Update_Node(this.id)">
                ref-ref
              </button>              
          </div>
          
          <!-- FILTERS SHOW / HIDE NODES -->
          <div class="list-group">
            <h5 style="color: white">show or hide categories </h5>

              <!-- {{ glob.ns.category }}(-ies) -->
            
            <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                    class="btn btn-default btn-sm hideFilter"
                    id="reference"
                    onclick="hideNodes(this.id)">
              references
            </button>
            
            <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                    class="btn btn-default btn-sm hideFilter"
                    id="group"
                    onclick="hideNodes(this.id)">
              groups
            </button>
            
            <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                    class="btn btn-default btn-sm hideFilter"
                    id="tag"
                    onclick="hideNodes(this.id)">
               tags
             </button>
            
          </div>
          
          <div class="list-group">
            <h5 style="color: white">show or hide {{ glob.ns.group }}(s) </h5>
            <!--  {{ glob.ns.group }}(s)-->
            
            {% for gr in groups %}
            
              <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                       class="btn btn-default btn-xs hideFilter"
                       id={{ gr }}
                       onclick="hideNodes(this.id)">
                 {{ gr }}
               </button>
            
            {% endfor %}
            
          </div>
            
          
          {% if selection == "1camp" %}
          
            <div class="list-group">
              <h5 style="color: white">show or hide super-{{ glob.ns.tags }}(s) </h5>
              <!--<label class="text-center list-group-item active" >-->
              <!--  super-{{ glob.ns.tags }}(s)-->
              <!--</label>-->
              
              {% for stag in supertags %}
              <button type="button" enabled="0" data-toggle="button"  aria-pressed="false" 
                       class="btn btn-default btn-xs hideFilter"
                       id={{ stag }}
                       onclick="hideNodes(this.id)">
                 {{ stag }}
               </button>
              {% endfor %}
              
            </div>
          {% endif %}
  
        </div> <!--end collapse -->
        
      </div> <!--end column-->




   {% block D3_graph %}{% endblock %}
   
   
   
    <!-- space to display contextual node infos  -->  
    <div id="infoNode" class="col-sm-3 col-sm-offset-7">
      
      <br></br>
      

        <div class="infosNode list-group" style="opacity: 0">
          
          <!-- collapser infos -->
          <a role="button"
            id="collapserInfos"
            data-toggle="collapse"
            data-target="#collapsibleInfos" aria-expanded="false" aria-controls="collapsibleInfos" >
            
            <h4 class="text-center"
                data-toggle="tooltip"
                data-placement="top"
                title="show/hide node infos"
            >
              SELECTED NODE <span class="caret" ></span>
            </h4>
            
          </a>
            
          <!-- collapsible infos-->
          <div class="collapse in " id="collapsibleInfos">
  
            <p class="list-group-item">label :    <a id="nLabel"></a></p>
            <p class="list-group-item">category : <a id="nCategory"></a></p>
            <p class="list-group-item">group :    <a id="nGroup"></a></p>
            <p class="list-group-item">type :     <a id="nType"></a></p>
            <p class="list-group-item">url :      <a id="nUrl"></a></p>
            <p class="list-group-item">tags :     <a id="nTags"></a></p> <!--still not displaying tags correctly-->
            
          </div>
      
      </div>
 
    </div>
    
    
    </div>



   {% block D3_js %}{% endblock %}


  {% endblock %}