
{% extends "D3_network_infos.html" %}



{% block D3_js %}

  
  <!-- only JS scripts here / can be put in specific file in ./static/js later ? -->
  <!-- script D3.JS  -->
  
  
  <!-- call global d3.js library here -->
  <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
  
  
  <!-- main d3.js function for {{ glob.titleApp }}  -->
  <script>
      
    // find width and height of parent html elements
    var contWidth  = document.getElementById('body').clientWidth;
    //var contWidth = document.documentElement.clientWidth;
    
    var contHeight = document.documentElement.clientHeight;
    //var contHeight = document.getElementById('body').clientHeight;
    
    
    // ZOOM function /////////////////////////////////////////////
    var zoom = d3.zoom()
      .scaleExtent([1/5, 4])
      .on("zoom", zoomed)
    ;
      

    //add the div for the tooltip
    var div = d3.select("body")
      .append("div")
      .attr("class", "tooltipNode")
      .style("opacity", 0) ;
      
      
    // default variable
    var dft_circle_stroke_w   = 1.5;
    var fixed_circle_stroke_w = 4;
    var dft_line_stroke_w     = 1;
    
      
    // create svg
    var svg = d3.select("#containerLayout")
      .append("svg:svg")
      .attr("width" , contWidth - 15)
      .attr("height", contHeight - 15 )
      //.call(zoom)
      .on("dblclick.zoom", null)
      ;

    // canvas
    var svg = d3.select("svg"),
      width  = +svg.attr("width"),
      height = +svg.attr("height");
  
      
      
    // add group for shapes in svg
    var vis = svg
      .attr("style", "background: black")
      .on("dblclick.zoom", null)
      //.append('g')
      ;

    ////////////////////////////////////
    // fake rectangle before links_g and nodes_g (so under them) to adapt the panning to real mouse events
    var zoomCanvas = svg.append("rect")
        .attr("width", width)
        .attr("height", height)
        .style("fill", "none")
        .style("pointer-events", "all")
        .call(zoom)
        .on("dblclick.zoom", null)
        ;
        
        
    var links_g = vis.append('g')
      .attr("class", "links")
      .on("dblclick.zoom", null)
      ;
    
    var nodes_g = vis.append('g')
      .attr("class", "nodes")
      .on("dblclick.zoom", null)
      ;    
    


    ////////////////////////////////////////////////////
    //// zooming / panning function
    // from : http://bl.ocks.org/mbostock/4e3925cdc804db257a86fdef3a032a45
    function zoomed() {
      links_g.attr("transform", d3.event.transform );
      nodes_g.attr("transform", d3.event.transform );

    }
    
    // reset zoom to original
    function resetted() {
      zoomCanvas.transition()
          .duration(750)
          .call(zoom.transform, d3.zoomIdentity);
    }
  


    // drag/pin function /////////////////////////////////////////
    var node_normal_drag = d3.drag()
      .on("start", dragstarted)
      .on("drag" , dragged    )
      .on("end"  , dragended  )
      ;
      
      function dragstarted(d) {
          //console.log("dragstart",d); // d = Object { ID: "group_1", ...
          if (!d3.event.active) simulation.alphaTarget(0.3).restart();
          d3.select(this).classed("fixed", d.fixed = true);
          d.fx = d.x;
          d.fy = d.y;
      }
      
      function dragged(d) {
          d.fx = d3.event.x;
          d.fy = d3.event.y;
      }
      
      function dragended(d) {
          if (!d3.event.active) simulation.alphaTarget(0);
          if (d.fixed == true) {
            d.fx = d3.event.x;
            d.fy = d3.event.y;
          } else {
            d.fx = null;
            d.fy = null;
          }
      }
      ;
      
      
      
      
    //var color = d3.scaleOrdinal(d3.schemeCategory20); // 
    
      
    
    
    
    
    ///////////////////////////////////////////////////
    // Radial functions : put selected nodes around a circle
    // adapted from : http://bl.ocks.org/vlandham/5087480 
    D2R = Math.PI / 180 ; // degrees to radians
    
    // center svg canvas + variables 
    var centerX = width/2 ;
    var centerY = height/2;
    var radius  = 300 ; /// radius circle / HERE TO CHANGE : choose a different radius

    // compute radial location
    function radial(totalNodes, node, index) {
      
      //console.log("radial +    : ", totalNodes) ;
      //console.log("radial ++   : ", radius) ;
      //console.log("radial +++  : ", node) ;
      //console.log("radial ++++ : ", index) ;
      
      
      var clickAngle          = 360 / totalNodes   ; // angle in degrees for circle divisions
      var currentAngle        = clickAngle * index ; // angle in degrees for current node
      var currentAngleRadians = currentAngle * D2R ; // convert to radians
      //console.log("radial -   : ", clickAngle) ;
      //console.log("radial --  : ", currentAngle) ;
      //console.log("radial --- : ", currentAngleRadians) ;
      
      // basic trigonometry ///////////////////////////////////
      var radialPoint = {  
        x : centerX + radius * Math.cos(currentAngleRadians),
        y : centerY + radius * Math.sin(currentAngleRadians)
      }
      
      //console.log("radial 2/ : ", radialPoint) ;
      //console.log("radial 3/ : ", node.fixed) ;
      //console.log("radial 4/ : ", node.x) ;
      //console.log("radial 5/ : ", node.fx) ;
      
      // affect x and y coordinates to node
      node.fixed = true ;
      //node.x  += (radialPoint.x - node.x ) ; 
      //node.y  += (radialPoint.y - node.y ) ; 
      //node.fx += (radialPoint.x - node.x ) ; 
      //node.fy += (radialPoint.y - node.y ) ;
      node.x  = radialPoint.x  ; 
      node.y  = radialPoint.y  ; 
      node.fx = radialPoint.x  ; 
      node.fy = radialPoint.y  ;
      
      //console.log("radial 3// : ", node.fixed) ;
      //console.log("radial 4// : ", node.x) ;
      //console.log("radial 5// : ", node.fx) ;
      
    };
    
    // actually move and fix selected nodes positions in space 
    function moveToRadial (selectedNodes) {
      
      //console.log("moveToRadial 1/ : ", selectedNodes) ;
      
      var totalNodes = selectedNodes.size() ; ///////////////////////////////////////
      //console.log("moveToRadial 2/ : ", totalNodes) ;

      // put radial coordinates datas into node.__data__ (not DOM)
      selectedNodes.each( function(d,i) { radial( totalNodes, d, i ) } );
      
      // give back attribute to circle
      selectedNodes
        .attr("cx", function(d) { return d.x } )
        .attr("cy", function(d) { return d.y } )
        ;
      //selectedNodes.each( function(d,i) { return d.fixed = true } );
      //selectedNodes.each( function(d,i) { return d.fx = null } );
      //selectedNodes.each( function(d,i) { return d.fy = null } );
    };
    
    // activate radial positionning depending on button value
    function moveItToRadial(value) {
      
      //console.log("moveItToRadial 1/ : ", value) ;
      
      // here unfix position for everybody 
      releaseAllNodes();
      
      // select nodes corresponding to value
      var nodes = d3.selectAll(".node");   
      var selected = nodes.filter(function (d, i) {
        return d.group == value  ||  d.tag == value || d.category == value ;    ;
        } );
      
      moveToRadial(selected, radius);
      resetted();
    }
    
    
    
    
    
    ///////////////////////////////////////////////////
    // force parameters
    var simulation = d3.forceSimulation()
        .force("link"   , d3.forceLink().id(function(d) { return d.{{glob.es.id}}; })) //identify links relation by common id
        .force("charge" , d3.forceManyBody().strength(-50) )
        .force("center" , d3.forceCenter(width / 2, height / 2))
        // COLLIDE FORCE // WORKS BUT takes lot of CPU power and slow visualisation ////////////////////////////////
        //.force("collide", d3.forceCollide().radius(function(d) { return d.r + 0.5; }).iterations(2)) 
        ;
    
    //////////////////////////////////////////////
    
    var allEdges = [];
    var allNodes = [];
    var allStats = [];
    
    var optArray = [];



    //initialize graph layout : fill allNodes and allEdges
    d3.json("{{ data_JSON }}",
              function(error, graph) {
                if (error) throw error   ;
                
                allNodes = graph.nodes ;
                allEdges = graph.links ;
                allStats = graph.stats ;

                //console.log("graph.nodes : ", allNodes); //
                //console.log("graph.links : ", allEdges); //                
                //console.log("in json : ", allStats); //
                //console.log("graph.stats.groups_names : ", allStats.groups_names); //
                //console.log("graph.stats.tags_names   : ", allStats.tags_names); //
      
                // add stats in presentation modal
                d3.select('#stats_nodes').text(allStats.nodes_number);
                d3.select('#stats_refs').text(allStats.refs_number);
                d3.select('#stats_groups').text(allStats.groups_number);
                d3.select('#stats_tags').text(allStats.tags_number);
                d3.select('#stats_edges').text(allStats.edges_number);
                
                packLegend();
                
                // push group & tag names & nodes labels into autocomplete array
                for (var i = 0; i < allNodes.length - 1; i++) {
                        //console.log(allNodes[i].label);
                        optArray.push(allNodes[i].label);   
                    } ;
                for (var i = 0; i < allStats.groups_names.length - 1; i++) {
                        //console.log(allNodes[i].label);
                        var label_group = allStats.groups_names[i];
                        if ( optArray.indexOf(label_group) == -1 ) { /// "!= -1" : in array / "== -1" : NOT in array 
                          optArray.push(label_group);
                        }
                    } ;
                for (var i = 0; i < allStats.tags_names.length - 1; i++) {
                        //console.log(allNodes[i].label);
                        var label_tag = allStats.tags_names[i];
                        if (optArray.indexOf(label_tag) == -1 ) {
                          optArray.push(label_tag);
                        }
                    } ;
                optArray = optArray.sort();
                //console.log("optArray from start : ", optArray);
                
                render(allNodes, allEdges) ;
              }
      )
    ;
    
    
    //console.log("after d3.json", allStats);
    
    
    /////////////////////////////////////////////////////////////
    // create legend in div #legend on the fly 
    var spaceX     = 20 ;
    var interval   = 5 ;
    var legendR    = 8  ;
    var legendS    = dft_circle_stroke_w  ; // circle stroke width
    var legendDiam = (legendR*2) + legendS ;
    var spaceY     = legendDiam + interval ;
    var tempSpaceY = interval + legendR ;
    
    var legendHeight            = 0 ;
    var legendWidth             = 0 ;
    var legend                  = null;
    var nodeLegend              = null;
    //var legendColorsGroups      = null;
    //var legendColorsRefGroupTag = null;
    //console.log("graph.stats.groups_names : ", allStats.groups_names); ////////////////
    //console.log("graph.stats.tags_names   : ", allStats.tags_names); /////////////////////////
   
   

    
    /////////////////////////////////////////////////
    
    function setLegend(len_ref_group_tag, len_groups, len_tags) {
      
      legendHeight = 5 + (len_ref_group_tag*spaceY) + (len_groups*spaceY) + (len_tags*spaceY) + 5
      //console.log(legendHeight);
      
      legendWidth  = document.getElementById('legend').clientWidth ;
      //var legendHeight = document.getElementById('legend').clientHeight;
      legend = d3.select(".legend")
        .append("svg:svg");
      legend.attr("background-color", "black")
        .attr("width" , legendWidth)
        .attr("height", legendHeight)
        .attr("class", "svg_legend");
      
      nodeLegend = legend.append("g")
        .attr("id"   , "nodes_legend") ;
      // add circles for nodes_legend

    }
    
    
    
    // insert nodes into legend svg div
    function makeLegend(coll, margin) {
      
      for (var i = 0; i <= coll.length - 1; i++) {
      var obj = coll[i]; 
        var lgd_ = nodeLegend.append('g')
          .attr("class", "nodeLgd")
          .attr("id", obj.name)
          ;
        lgd_.append("circle")
          .attr("cx", spaceX + margin )
          .attr("cy", tempSpaceY )
          .attr("r", legendR )
          .attr("stroke", "white")
          .attr("stroke-width", legendS )
          .style("fill", obj.hex ) //return color(d.{{glob.ns.type}})
          //.attr("id", obj.name)
          ; 
        lgd_.append("text")
          .attr("fill", "white")
          .attr("x", spaceX + legendDiam + margin  )
          .attr("y", tempSpaceY )
          .attr("dy", ".35em")
          .text( obj.name );
        
        tempSpaceY += spaceY ;
        };
        
      };
    
    
    // MAKE THE SAME FOR TAGS THAN GROUPS ///////////////////////////////////////////////////   
    //setLegend() ;
    //makeLegend(legendColorsRefTag, 0);
    //makeLegend(legendColorsGroups, interval*4);
    
    function packLegend() {

      //console.log("packLegend /stats", allStats);

      // get ref & groups & tags colors from stats in graph
      legendColors_groups = allStats.grpsColorsDict;
      //console.log("packLegend /grpsColorsDict", allStats.grpsColorsDict);
      //legendColorsGroups =  legendGroups|tojson  ; // tojson un jinja
      console.log("packLegend / legendColorsGroups :", legendColors_groups);
      
      legendColors_RefGroupTag = allStats.dfltColorsDict;
      //console.log("packLegend /dfltColorsDict", allStats.dfltColorsDict);
      //legendColorsRefGroupTag =  legend|tojson  ; // tojson in jinja
      console.log("packLegend / legendColorsRefTag :", legendColors_RefGroupTag);
      
      legendColors_tags = allStats.tags_names;
      console.log("packLegend / legendColors_tags :", legendColors_tags);
      
      setLegend(legendColors_groups.length, legendColors_RefGroupTag.length, 0 ); //legendColors_tags.length) ;
      
      makeLegend(legendColors_RefGroupTag, 0);
      makeLegend(legendColors_groups, interval*4);
      //makeLegend(legendColors_tags, interval*4);
      
      // attribute function to nodes in legend 
      d3.select("#nodes_legend").selectAll("g")
        .attr("clickable", "yes")
        .on("click", getLegendValue ) 
      ;
    }


    
    //console.log("optArray : ", optArray); // OK 
    
    /////////////////////////////////////////////////////////////////////////////////

    /// BREAK LINKS & UPDATE function
    // adapted from  :  http://bl.ocks.org/csesivakumar/31e23b875f260622f8f7da3ae380958c
    function Update_Node(buttonId){
      
      
      // get button attributes
      var Clickbutton = document.getElementById(buttonId);
      var status = Clickbutton.getAttribute("Enabled");
      
      // change button status on click event / Enabled="0" -> not clicked ; 1 = 
      if (status =="0"){
		Clickbutton.setAttribute("Enabled","1");
		Clickbutton.setAttribute("aria-pressed", "true") ;
      }
      if (status =="1"){
        Clickbutton.setAttribute("Enabled","0");
        Clickbutton.setAttribute("aria-pressed", "false") ;
      }
      
      // check status for all buttons
      var buttons = document.getElementsByClassName('breakFilter');
      //console.log("buttons :", buttons);
      
      // stores criterias to hide
      var rulesToHide = [] ;
      for(var j = 0; j < buttons.length; j++) {
        //console.log(button);
		var button = buttons[j];		
		var status = button.getAttribute("Enabled");
        // remove nodes and edges if button status is "1"
		if (status=="1"){ 
          rulesToHide.push(button.id);
        }			
      }
      //console.log("rulesToHide breakFilter :", rulesToHide);
      
      var tempNodes = [];
      var tempEdges = [];
      
      // filter nodes
      for (var i = 0 ; i < allNodes.length; i++ ) {
        var obj = allNodes[i];
        if ( rulesToHide.indexOf(obj.category) == -1 ) { /// "!= -1" : in array / "== -1" : NOT in array 
          tempNodes.push(obj) ;
        }
      }
      
      // filter edges
      for (var i = 0 ; i < allEdges.length; i++ ) {
        var obj = allEdges[i];
        //console.log(obj.group);
        if ( rulesToHide.indexOf(obj.group) == -1 ) {
          //console.log(obj.group);
          tempEdges.push(obj);
        }
      }
      
      render(tempNodes, tempEdges) ;
      
    }


    // HIDE NODES FROM LAYOUT (but no disappear)
    function hideNodes(buttonValue) {
      
      //console.log("buttonValue", buttonValue); // example : 'group'
      
      // get all 'hideFilter' buttons
      var buttons = document.getElementsByClassName('hideFilter');
      
      // empty containers
      var rulesToHide = [] ;
      var Clickbutton = null ;
      var buttonStatus = null;
      
      // get button attributes
      for(var j = 0; j < buttons.length; j++) {
		var button = buttons[j];		
        // use as clickbutton if : id == buttonValue
        var id = button.getAttribute("id");
		if (id == buttonValue){ 
          Clickbutton = button ;
          buttonStatus = button.getAttribute("Enabled");
        }
      };
     
      //console.log("Clickbutton", Clickbutton); 
      //console.log("buttonStatus", buttonStatus); 
      
      // change button status on click event / Enabled="0" -> not clicked ; 1 = 
      
      if (buttonStatus =="0"){
        Clickbutton.setAttribute("enabled","1");
        Clickbutton.setAttribute("aria-pressed", "true") ;
      };
      if (buttonStatus =="1"){
        Clickbutton.setAttribute("enabled","0");
        Clickbutton.setAttribute("aria-pressed", "false") ;
      };
      
      
      // stores all criterias to hide 
      for(var j = 0; j < buttons.length; j++) {
		var button = buttons[j];		
		var status = button.getAttribute("Enabled");
		if (status=="1"){ 
          rulesToHide.push(button.id);
        }			
      }
      console.log("rulesToHide hideFilter:", rulesToHide); ////////////////////
      
      var nodes = vis.selectAll(".node");
      
      nodes.style("opacity", "1" );
      
      
      var n_hidden = nodes.filter(function (d, i) { return rulesToHide.indexOf(d.category) != -1
                                            || rulesToHide.indexOf(d.group)  != -1 ///// here group too for references !!!! ////////
                                            //|| rulesToHide.indexOf(d.tag) != -1
                                            ///// must iterate through d.tag ARRAY ???
                                            //|| function (d, i) { ////////////////////
                                            //    var bool = false ;
                                            //    for (var i = 0 ; i< d.tag.length ; i++)
                                            //        { if (rulesToHide.indexOf(d.tag[i]) != -1)
                                            //          { bool = true }
                                            //        };
                                            //    return bool ;
                                            //    }
                                            ; } ) /// "!= -1" : IN array / "== -1" : NOT in array 
      //console.log(n_hidden);
      
      //var n_showed = nodes.filter(function (d, i) { return rulesToHide.indexOf(d.category) == -1
      //                                      && rulesToHide.indexOf(d.group)  == -1
      //                                      && rulesToHide.indexOf(d.tag)    == -1
      //                                      ; } ) /// "!= -1" : IN array / "== -1" : NOT in array 
      n_hidden.style("opacity", "0.1" );
      //n_showed.style("opacity", "1.0" );
        
    }

    //////////////////////////////////////////////////////////////////////////////
    // main D3 function
    function render (nodes, links) {
      
      simulation.alphaTarget(0.4).restart() ;
      
      // launch force
      simulation
          .nodes(nodes)
          .on("tick", ticked);
          
      simulation.force("link")
          .links(links);

      //console.log("nodes in render : ", nodes);
      
      /////////////////////////////////////////////////
      // stop / restart animation 
      function stopLayout()   { simulation.stop(); } ;
      function restartLayout(){ simulation.restart(); } ;
      
      
      // activate play or pause 
      $(function () {
          
          var active = true;
          
          $('#play-pause').click(function () {
              if (active) {
                  active = false;
                  stopLayout();
                  $(this).html('<span class="glyphicon glyphicon-play"></span>')
                    .attr("class", "btn btn-md btn-success btn-navbar")
                  ;
              } else {
                  active = true;
                  restartLayout();
                  $(this).html('<span class="glyphicon glyphicon-pause"></span>')
                    .attr("class", "btn btn-md btn-warning btn-navbar")
                  ;
              }
          });
          
      });
      
      ///////////////////////////////////////////////////////
      // enter json datas 
      var link  = links_g.selectAll(".link").data(links);
      var node  = nodes_g.selectAll(".node").data(nodes);
      
      //console.log("render / node : ", node)
      
      //console.log("graph.stats : ", allStats); //
      //console.log("graph.stats.groups_names : ", allStats.groups_names); //
      //console.log("graph.stats.tags_names   : ", allStats.tags_names); //
      

      
      
      // create lines for links
      link.enter()
          .append("line")
          .attr("class", "link")
          .attr("stroke-width"    , dft_line_stroke_w ) //function(d) { return d.{{glob.es.weight}} ; } )
          .attr("stroke-dasharray", function(d) { return d.{{glob.es.dash}}   ; } )
        .merge(link);
      link.exit().remove();
      
      // create circles for nodes
      node.enter()
          .append("circle")
          .attr("r", function(d) { return Math.sqrt(d.{{glob.ns.weight}} )*1.5 } )
          .style("fill", function (d) { return d.{{glob.ns.color}} ; })
          
          .attr("stroke-width"    , dft_circle_stroke_w )
          .attr("class"   , "node")
          //.attr("fixed"   , "false")
          //.attr("label"   , function(d) { return ( d.{{glob.ns.label}}    ) })
          //.attr("id"      , function(d) { return ( d.{{glob.ns.id}}       ) })
          //.attr("group"   , function(d) { return ( d.{{glob.ns.group}}    ) })
          //.attr("category", function(d) { return ( d.{{glob.ns.category}} ) })
          //.attr("url"     , function(d) { return ( d.{{glob.ns.url}}      ) })
          //.attr("type"    , function(d) { return ( d.{{glob.ns.type}}     ) })
          //.attr("tags"    , function(d) { return ( d.{{glob.ns.tags}}     ) })
          
          
          // normal drag function
          .call(node_normal_drag)
          .on('click'      , displayInfos )    // display node infos inside right column
          .on('dblclick'   , connectedNodes ) //("over") ) //Added code ... .on('click'
          
          //alternative to show connections
          //.on('mouseover', connectedNodes) //("over") ) //Added code ... .on('click'
          //.on('mouseout',  connectedNodes) //("out") )
          
          //adding tooltip in div tooltip
          .on("mouseover", function(d) {		
            div.transition()		
              .duration(200)		
              .style("opacity", .95);		
            div.html( "<strong> "+ d.{{glob.ns.label}} + " </strong>" + " <br>(<em>" + d.{{glob.ns.category}} + "</em>)" )	
              .style("left", (d3.event.pageX + 20) + "px")		
              .style("top", (d3.event.pageY - 10) + "px");	
          })					
          .on("mouseout", function(d) {		
            div.transition()		
              .duration(500)		
              .style("opacity", 0);
              
          });
      ;
      
      node.exit().remove();
      
      
      
      /// CONNECTED NODES ///////////////////////////////////////////////////////////////
      //Toggle stores whether the highlighting is on
      var toggle = 0;
      //Create an array logging what is connected to what
      var linkedByID = {};
      // feed linkedById
      nodes.forEach(function (n) {
        linkedByID[n.{{glob.ns.id}} + "," + n.{{glob.ns.id}} ] = 1; });    
      links.forEach(function (e) {
        //console.log(e);
        linkedByID[e.source.{{glob.ns.id}} + "," + e.target.{{glob.ns.id}}] = 1; });
      
      //console.log(linkedByID); //////////////////////////////////
      
      //This function looks up whether a pair are neighbours
      function neighboring(a, b) {
        return linkedByID[a.{{glob.ns.id}} + "," + b.{{glob.ns.id}} ]; }

      var N = vis.selectAll(".node");
      var L = vis.selectAll(".link");
      
      // show connected nodes and fade others
      function connectedNodes() {
        
        if (toggle == 0) {
          
          //Reduce the opacity of all but the neighbouring nodes
          d = d3.select(this).node().__data__; 
          //console.log("d :", d3.select(this).node().__data__ ); // OK
          //console.log("node selected : ", d );
          //console.log("node selected / ID : ", d.{{glob.ns.id}});

          N.attr("stroke-width",
            function (o) { return neighboring(d, o) | neighboring(o, d) ? "2px" : "0px"; } );
          N.style("opacity", 
            function (o) { return neighboring(d, o) | neighboring(o, d) ? 1 : 0.4; } );
          
          L.style("opacity",
            function (o) { return d.index == o.source.index | d.index == o.target.index ? 1 : 0.4; } ); 
          L.attr("stroke-width",
            function (o) { return d.index == o.source.index | d.index == o.target.index ? "2px" : "0.3px"; } ); 
          
          //Reduce the opacity
          toggle = 1;
        }
        
        else {
          //Put them back to opacity=1
          N.style("opacity", 1);
          N.attr("stroke-width", dft_circle_stroke_w );
          
          L.style("opacity", 1);
          L.attr("stroke-width", dft_line_stroke_w);
          
          toggle = 0;
        }
        
      }

      function ticked() {
        d3.select(".links").selectAll(".link")
          .attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; })
        ;
        
        //console.log(d3.select(".nodes").selectAll(".node").fixed    ) ;
        d3.select(".nodes").selectAll(".node")
            .attr("cx", function (d) { return !d.fixed ? d.x : d.fx; })
            .attr("cy", function (d) { return !d.fixed ? d.y : d.fy; })
            .attr("stroke-width", function(d) {  return !d.fixed ? dft_circle_stroke_w : fixed_circle_stroke_w ; } )
        ;
      
      }
      
    }

 
    //launch autocomplete once page loaded
    $(document).ready(function () {
        $("#search").autocomplete({ source: optArray });
        
        //console.log("doc ready /stats", allStats); // empty here
        // create legend
        
        
      });
    
    
    
    // get search value from legend
    function getLegendValue () {
      
      var from = "legend";
      
      var selectedVal = d3.select(this).node().id;
      
      //console.log("selectedVal from getLegendValue : ", d3.select(this) );
      //console.log("selectedVal from getLegendValue : ", d3.select(this).node() );
      //console.log("selectedVal from getLegendValue : ", d3.select(this).node().id );
      searchNode( selectedVal, from )
      
    };
    
    // get search value from searchbar
    function getSearchBarValue () {
      
      var from = "searchbar" ;
      console.log("selectedVal from getSearchBarValue : ", document.getElementById('search') )
      
      var selectedVal = document.getElementById('search').value;
      console.log("selectedVal from getSearchBarValue : ", selectedVal )
      
      searchNode( selectedVal, from )
    };
    
    
    /// search bar functions 
    function searchNode(value, from) {
      
      var node = vis.selectAll(".node");
      
      if (value == "none") {
        node.style("stroke", "white")
          .style("stroke-width", "10");
      }
      
      else {
        
        // if value from search bar
        if (from == "searchbar") {
          var selected = node.filter(function (d, i) { return d.label != value ; } );
        }
        // if value from legend
        else {
          var selected = node.filter(function (d, i) { return d.group      != value
                                                              & d.tag      != value
                                                              & d.category != value
                                                              & d.label    != value ; } );
          //console.log("selected : ", selected)
        };
        
        selected.style("opacity", "0.1");
        
        var link = vis.selectAll(".links");
        link.style("opacity", "0.1");
        
        
         // reset all 'hideFilter' buttons
        var buttons = document.getElementsByClassName('hideFilter');
        for(var j = 0; j < buttons.length; j++) {
          var button = buttons[j];
          var buttonStatus = button.getAttribute("enabled") ;
          if (buttonStatus =="1"){
            button.setAttribute("enabled","0");
            button.setAttribute("aria-pressed", "false") ;
            button.setAttribute("class", "btn btn-default btn-sm hideFilter btn-filter") ;
          }
        };
        
        
        d3.selectAll(".node, .links")
          .transition()
          .duration(4000)
          .style("opacity", 1);
        }
        
       
        
    };
    
    //search bar / run searchNode if enter (aka keyCode==13) is pressed
    function handle(e){
      if(e.keyCode === 13){
        getSearchBarValue();
        }
    };



    ////////////////////////////////////////////////////////////////////////////////

    // pin down nodes 
    // inspired from : https://github.com/d3/d3-force/issues/35
    // sticky force http://bl.ocks.org/mbostock/3750558
    function pinNode(d) {
      
      console.log("pinning / d :", d);
      //console.log("pinning / d.fixed :", d.fixed);
      
      if (d.fixed == true) {
        d.fixed = false; 
        d.fx = null ;
        d.fy = null ;
        
      } else {
        //d.classed("fixed", d.fixed = true);
        d.fixed == true; 
        d.fx = d3.event.x;
        d.fy = d3.event.x;
      }
      
    }
    
    
    // release all previously fixed nodes ///////////////////////
    function releaseAllNodes() {
      
      //console.log("release all nodes");
      //console.log(nodes_);
      
      var N = d3.selectAll(".node").filter(function (d, i) {
        return d.fixed == true;
      });

      //console.log(N);

      N.each( function(d,i) { return d.fixed = false } );
      N.each( function(d,i) { return d.fx = null } );
      N.each( function(d,i) { return d.fy = null } );
      
      
      // restart animation
      simulation.alphaTarget(0.5).restart();
    }
    
    
    // display node infos in div #nodeInfos 
    function displayInfos(d) {
      
      n = d3.select(this).node().__data__;
      //console.log("displayInfos / node DATAS before __data__ :", d3.select(this).node());
      
      ////// I STILL HAVE A PROBLEM UNDERSTANDING HOW DOM WORKS HERE & HOW TO ACCESS/MODIFY __DATA__
      //n_ = d3.select(this).classed("fixed", d.fixed = true);
      //console.log("node DATAS_ :", n_);
      
      // call function to pin nodes
      
      //simulation.stop();
      pinNode(n);
      //simulation.restart();
      
      // display  collapsibleInfosCol
      //divInfos = d3.select('.collapsibleInfosCol');
      //divInfos.transition()		
      //  .duration(200)		
      //  .style("opacity", 1.0);
      $('#collapsibleInfosCol').collapse('show');
      $('#collapsibleInfos').collapse('show');
        
      d3.select('#nLabel').text(n.label); 
      d3.select('#nAbstract').text(' " ' + n.abstractNote + ' " ');
      //console.log(n, n.abstractNote);
      d3.select('#nType').text(n.type); // need to be blank if none ////////
      d3.select('#nCategory').text(n.category);
      d3.select('#nGroup').text(n.group); // need to be blank if none ////////
      d3.select('#nUrl')
        .attr("href", n.url)
        .attr("target", "_blank")
        .text("Weblink"); // need to be blank if none ////////
      
      //console.log("d :"    , d);
      //console.log("tags :" , d.tag);
      
      d3.select('#nTags').text(n.tag); // need to be blank if none // + function to tags to create //

    }
  

    // export SVG file //////////////////////////////////////
    // from : http://stackoverflow.com/questions/23218174/how-do-i-save-export-an-svg-file-after-creating-an-svg-with-d3-js-ie-safari-an
    function exportSVG() {
      var svgData       = $("#svgLayout")[0].outerHTML;
      var svgBlob       = new Blob([svgData], {type:"image/svg+xml;charset=utf-8"});
      var svgUrl        = URL.createObjectURL(svgBlob);
      var downloadLink  = document.createElement("a");
      downloadLink.href = svgUrl;
      downloadLink.download = "{{ dataSet_name }} network - {{ glob.titleApp }}.svg";
      document.body.appendChild(downloadLink);
      downloadLink.click();
      document.body.removeChild(downloadLink);
      }

  </script>



{% endblock %}
