

{% extends "base.html" %}

{% block content %}

    <!-- subtitle of the app only in homepage -->
    <div class="col-lg-3"></div>
    <div class="jumbotron col-lg-6">
	<h3> {{ glob.titleApp }} : {{ glob.subtitleApp }} </h3>
	<h4> fetch a Zotero library and connect references by their tags, their groups or folders, and their connex references </h4>
	
	<!-- to display : images/href to datavisualizations -->
	<div class="list-group">
	    
	    <p> </p>
	    <!--<li class="divider" role="seperator"></li>-->
	    <p>select a Zotero dataset to see its corresponding network</p>
	    
	    {% for set in glob.collections_names %}
	    <a href="/{{ set[0] }}" class="list-group-item col-md-10">
		{{ set[1] }}
	    </a>
	    {% endfor %}
	</div>
    </div>

{% endblock %}
    
