

{% extends "base.html" %}

{% block content %}

    <div    id="graphLayout"
            class="row"
            style="min-height: 100%"
            > 

    <!-- subtitle of the app only in homepage -->
	<br>
    <div class="jumbotron col-lg-4 col-lg-offset-4">
		
		<h1 class="text-center"> {{ glob.titleApp }} </h1>
		
		<br>
		
		<hr></hr>
		
		<!--<h4 class="text-center"> {{ glob.subtitleApp }} </h4>-->
		<h6 class="text-center lead" style="color:white;"> Make graphs you can play with </h6>
		<!--<h4>-->
		<!--	fetch a Zotero library and connect references by their tags, their groups or folders, and their connex references...-->
		<!--	and make a graph-->
		<!--</h4>-->
		
		<hr></hr>
		
		<!-- to display : images/href to datavisualizations -->
		<div class="list-group">
			
			<p class="text-center">
				select a dataset 
			</p>
			
			{% for set in glob.collections_names %}
				<a href="/{{ set[0] }}"
				   class="list-group-item col-lg-8 col-lg-offset-2"
				   >
					&nbsp; <span class="glyphicon glyphicon-th-list"></span> &nbsp;
					<strong> {{ set[1] }} </strong>
				</a>
			{% endfor %}
			
			
		</div>		
		
		
    </div>

{% endblock %}
    
