

{% extends "base.html" %}

{% block content %}

    <div    id="graphLayout"
            class="row"
            style="min-height: 100%"
            > 

    <!-- subtitle of the app only in homepage -->
	<br>
	<br><br>
    <div class="jumbotron col-sm-3 col-sm-offset-1">
		
		<h1 class="text-center" style="color: white"> {{ glob.titleApp }} </h1>
		
		
		<hr></hr>
		
		<h6 class="text-center lead" style="color:white;"> {{ glob.subtitleApp }} </h6>
		<!--<h4>-->
		<!--	fetch a Zotero library and connect references by their tags, their groups or folders, and their connex references...-->
		<!--	and make a graph-->
		<!--</h4>-->
		
		<hr></hr>
		
		<!-- to display : images/href to datavisualizations -->
		<div class="list-group">
			
			<p class="text-center" style="color:grey">
			
				<!-- Button 'HOW TO' triggering modal -->
				<a  data-toggle="tooltip"
					data-placement="top"
					title="how to use {{ glob.titleApp }}"
					>
					<button type="button"
							class="btn btn-link"
							data-toggle="modal"
							data-target="#modalHowTo"
							  >
						<span class="glyphicon glyphicon-wrench" style="color:white;"></span>
					</button>
				</a>
				
				<small>select a dataset</small> <!-- ------- CREATE A DROPDOWN HERE !!! ------- -->	

				<!-- Button 'ABOUT' triggering modal -->
				<a  data-toggle="tooltip"
					data-placement="top"
					title="about the {{ glob.titleApp }} project"
					>
					<button type="button"
						class="btn btn-link"
						data-toggle="modal"
						data-target="#modalAbout"
						> 
						<span class="glyphicon glyphicon-info-sign" style="color:white;"></span>
					</button>
				</a>

			</p>

			{% for set in glob.collections_names %}
				<!--<h6>-->
				<a 	href="/{{ set[0] }}"
					class="list-group-item col-xs small"
					>
					&nbsp;&nbsp; <span class="glyphicon glyphicon-th-list"></span> &nbsp;
					 {{ set[1] }}
				</a>
				<!--</h6>-->
				
			{% endfor %}
			
			
		</div>		
		
		
    </div>

{% endblock %}
    
